<section class="breeds-container">
  <mat-form-field class="searchbar-container" appearance="fill">
    <mat-icon matPrefix>pets</mat-icon>
    <mat-label>Search...</mat-label>
    <input matInput [(ngModel)]="filterInput">
    @if (filterInput()) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  <ul class="breeds-list">
    @for (breed of breeds(); track breed.name) {
      <li class="breed-item">
        <span (click)="openBreedDialog(breed.name)" role="button">
          {{breed.name | titlecase}}
        </span>

        @if (breed.subBreeds.length) {
          <ul class="subBreeds-list">
            @for (sub of breed.subBreeds; track $index) {
              <li class="subBreed-item">
                <span role="button" (click)="openBreedDialog(breed.name, sub)">
                  {{sub | titlecase}}
                </span>
              </li>
            }
          </ul>
        }
      </li>
    }
  </ul>
</section>

@if (randomBreed) {
  <aside class="random-breed-container">
    <figure class="random-breed">
      <img class="dog-image" [src]="randomBreed.image" alt="Random dog photo">
      <figcaption>
        <h3 class="dog-breed">
          {{randomBreed.name | titlecase}}
          @if (randomBreed.subName) {
            <small class="dog-subBreed">({{randomBreed.subName | titlecase}})</small>
          }
        </h3>
      </figcaption>
    </figure>
  </aside>
}
