@import '../../../styles/functions/grid-units';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 0 0 grid-units(5);
}

.page-title {
  font-size: 72px;
}

.page-lead {
  text-align: center;
}

.dogs-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: grid-units(2);

  img {
    display: block;
    max-width: var(--col-6);
    max-height: var(--col-6);
  }
}
