@import '../../../styles/functions/grid-units';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding-inline: var(--container-padding);
  padding-block-end: grid-units(5);
}

.page-title {
  font-size: 72px;
}

.page-lead {
  text-align: center;
}

.dogs-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: grid-units(2);

  img {
    --size: #{var(--col-6)};

    display: block;
    max-width: var(--size);
    max-height: var(--size);
  }
}

@media only screen and (max-width: 768px)  {
  :host {
    justify-content: start;
    padding-block-start: grid-units(10);
  }

  .page-title {
    text-align: center;
    margin-block: grid-units(4);
  }

  .page-lead {
    font-size: 1.25rem;

    br {
      display: none;
    }
  }

  .dogs-container img {
    --size: #{var(--col-8)};

    &:last-of-type {
      display: none;
    }
  }

}
